/* index.html */
body {
	font-family: 'Open Sans';
}

.navbar {
	-webkit-box-shadow: 0 8px 8px 0 #e5e5e5;
	-moz-box-shadow: 0 8px 8px 0 #e5e5e5;
	box-shadow: 0 8px 8px 0 #e5e5e5;
}

.nav-item {
	margin-right: 20px;
}

.nav-item.active a {
	color: #343399 !important;
	font-weight: 700;
}

.dropdown-menu {
	border-radius: 7px;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.content {
	font-family: 'Open Sans';
}

.card {
	border-radius: 30px;
	background: #ffffff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card[data-clickable='true'] {
	cursor: pointer;
}

h3 {
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 38px;
	color: #1b1b56;
}

p,
li {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	text-align: justify;
	color: #000000;
}

footer,
footer p {
	background: #141344;
	font-family: Open Sans;
	font-style: italic;
	font-weight: 600;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	padding: 10px;
}

/* repo */

.inflan {
	position: absolute;
	width: 200px;
	height: 27px;
	left: 800px;
	top: 150px;

	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 27px;
	/* identical to box height */

	color: #000000;
}

.infum {
	position: absolute;
	width: 200px;
	height: 27px;
	left: 330px;
	top: 150px;

	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 27px;
	/* identical to box height */

	color: #000000;
}

.company {
	position: absolute;
	width: 200px;
	height: 27px;
	left: 100px;
	top: 320px;

	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 27px;
	/* identical to box height */

	color: #000000;
}

.jobdes {
	position: absolute;
	width: 200px;
	height: 27px;
	left: 100px;
	top: 335px;

	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 30px;

	color: #000000;
}

.sirkul {
	position: absolute;
	width: 200px;
	height: 27px;
	left: 100px;
	top: 345px;

	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 27px;

	color: #000000;
}

.download {
	position: absolute;
	width: 200px;
	height: 27px;
	left: 100px;
	top: 400px;

	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 27px;

	color: #000000;
}

.des {
	position: absolute;
	width: 1000px;
	height: 231px;
	left: 100px;
	top: 470px;

	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	text-align: justify;

	color: #000000;
}

.des2 {
	position: absolute;
	width: 1000px;
	height: 231px;
	left: 800px;
	top: 470px;

	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 25px;
	text-align: justify;

	color: #000000;
}

.foto {
	position: absolute;
	width: 141px;
	height: 141px;
	left: 106px;
	top: 183px;

	border-radius: 10px;
}

.table-row-equal {
	display: inline;
	table-layout: fixed;
	word-wrap: break-word;
	border-spacing: 5px 5px;
}

.table-row-equal .thumbnail {
	width: 437px;
	height: 223px;
	left: 41px;
	top: 288px;

	box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.15);
}

.kata1 {
	font-family: Open Sans;
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;

	color: #000000;
}

.kata2 {
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 27px;

	color: #343399;
}

.kata3 {
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 30px;
	/* identical to box height */
	color: #000000;
}

.read-more {
	font-family: Open Sans;
	font-style: italic;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	/* identical to box height */
	text-decoration-line: underline;

	color: #000000;
}

.gambar {
	float: left;
	width: 155px;
	height: 214px;
	left: 65px;
	top: 302px;

	background: url(310863-P8KIWF-367.jpg);
	border-radius: 10px;
}

/* repo */